
<div class="signing">
  <div class="sign_top">
    <div class="progLoading" *ngIf="progLog">
      <mat-progress-spinner mode="indeterminate" diameter="25" color="accent"></mat-progress-spinner>
      Please Wait ...
    </div>
    <div class="sign_title" *ngIf="!progLog">Log in</div>
    <div class="signToggler">Already have an account ? <span class="signTogTitle" (click)="loginToggler()">Create account</span></div>
  </div>

  <div class="loginHandler">
    
    <form class="formGrid" [formGroup]="userForm">

      <p-iconField iconPosition="right">
        <input pInputText id="username" formControlName="username" placeholder="Username Or email" required/>
      </p-iconField>
      
      <p-iconField iconPosition="right">
        <p-password id="password" formControlName="password" placeholder="Password" required feedback="false" [toggleMask]="true" />
      </p-iconField>
      <!-- <mat-error *ngIf="userForm.controls['password'].hasError('zero_user')">{{warning}}</mat-error> -->
      <!-- <mat-error *ngIf="userForm.controls['password'].hasError('pass_bad')">{{warning}}</mat-error> -->
  
      <div class="sign_up_button" (click)="log_user()">Log in</div>
      

    </form> 
    
  </div>

</div>
<p-toast position="bottom-left" key="bl" class="custom-toast" />
