.notifsScroll{
    width: 100%;
    min-height: 100%;
    border-left: 1px solid rgb(255 255 255 / 30%);
}
::ng-deep .mat-drawer-transition .mat-drawer-content{
    scrollbar-width: thin;

}
/* .notifBox:not(:last-of-type){
    border-bottom: 1px solid rgb(0, 0, 0, 0.3);
} */
.notifBoxGrid{
    display: flex;
    grid-gap: 15px;
    align-items: center;
}
.navTitle{
    font-size: 25px;
    font-weight: bold;
    color: #fff;
    padding: 25px;
}
.boxUserPic{
    height: 40px;
    width: 40px;
    overflow: hidden;
    border-radius: 50%;
    border: 2px solid rgba(255, 255, 255, 0.3);
    display: grid;
    flex: none;
    transition: ease-in-out 0.2s;
}
.boxUserPic:hover{
    border: 2px solid rgba(255, 255, 255, 1);
}
.boxUserPost{
    height: 60px;
    width: 50px;
    overflow: hidden;
    border-radius: 5px;
    flex: none;
    border: 1px solid rgb(255 255 255 / 30%);
}

.leftBolbOn{
    height: 4px;
    width: 7px;
    background: #f44336;
    box-shadow: 0 0 6px 2px #f44336;
    border-radius: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.3);
    transition: ease-in-out 0.2s;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
.notifCardsCtn{
    position: relative;
}
.notifBoxCard{
    position: relative;
    padding: 10px 25px;
    cursor: pointer;
    line-height: 1.3;
}
.notifBoxCard:hover{
    background: rgb(255 255 255 / 10%);
}
.cardNotifUserName{
    font-weight: bold;
    font-size: 15px;
    transition: ease-in-out 0.1s;
    margin-right: 5px;
}
.cardType {
    color: #fff;
    width: 20px;
    height: 20px;
    text-align: center;
    position: relative;
    display: inline-block;
    vertical-align: baseline;
    margin-right: 5px;
}
.cardType1,
.cardType2,
.cardType3,
.cardType4,
.cardType5,
.cardType6,
.cardType7,
.cardType8,
.cardType9 {
    position: relative;
    color: #fff;
    margin-right: 5px;
    width: 22px;
    text-align: center;
    display: inline-block;
}
.cardType5{
    color: #f44336;
}
.cardType6{
    color: #03A9F4;
}
.cardType3,
.cardType1{
    color: #ff9800;
}
.cardType2,
.cardType4,
.cardType8{
    color: #8BC34A;
}
.cardNotifMsg{
    color: #fff;
    font-size: 15px;
    font-weight: normal;
}
.boxUsermid{
    flex-grow: 1;
}
.totalNotifs,
.notif_stars,
.notif_quiz{   
    margin-right: 5px;
    font-size: 14px;
    color: rgb(255 255 255 / 80%);
    font-weight: normal;
}

.Q-userpic,
.Q-userPhantom{
    height: 38px;
    width: 38px;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(225 225 225 / 60%);
}
.Q-userPhantom{ 
    background: rgba(0, 0, 0, 0.5);
    color: rgb(255 255 255 / 80%);
    display: grid;
    place-items: center;
    font-size: 14px;
    border: 1px solid rgb(255 255 255 / 30%);
    flex: none;
}